.PackCardHold{
    width: 435px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 7px 19px 4px rgba(150,147,147,0.75);
    -webkit-box-shadow: 1px 7px 19px 4px rgba(150,147,147,0.75);
    -moz-box-shadow: 1px 7px 19px 4px rgba(150,147,147,0.75);
}

.CardLogo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.PackCardTitle{
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}

.PackLine{
    width: 25%;
    margin-top: 10px;
    height: 2px;
}

.PackPara{
    margin-top: 20px;
    font-size: 18px;
    word-spacing: 2px;
    line-height: 30px;
}

@media screen and (max-width: 428px){
    .PackPara{
        font-size: 16px;
        line-height: 20px;
        word-spacing: 1px;
        
    }
}
@media screen and (max-width: 375px){
    .PackPara{
        /* font-size: 16px; */
        line-height: 20px;
        word-spacing: 1px;
        
    }
}
@media screen and (max-width: 360px){
    .PackPara{
        font-size: 15px;
        line-height: 18px;
        word-spacing: 1px;
    }
}

@media screen and (max-width: 650px){
    .PackCardHold{
        width: 80%;
        margin: 0;
        margin-top: 10px;
    }
}
@media screen and (max-width: 320px){
    .PackPara{
        font-size: 14px;
        line-height: 18px;
        word-spacing: 1px;
    }
}