.EventsHolder{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height:  70vh;
    padding: 20px;
    background-color: #F5F0E1;
    font-family: 'Quicksand', sans-serif;
}
.EventsHeader{
    color: #023047;
    padding: 20px;
    font-size: 35px;
    
    width: 80%;
}
.EventsContent{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.Event img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Event{
    width: 40%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: yellow; */
}

.EventsSee{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #023047;
    font-weight: 500;
    font-size: 20px;
}

@media screen and (width < 600px) {
    .EventsContent{
        width: 90%;
    }
    .Event{
        width: 100%;
        object-fit: contain;
    }
}